<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク名 %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :締め切り %>
    <%= form.datetime_select :deadline, id: :task_deadline %>
  </div>

  <div class="field">
    <%= form.label :重要度 %>
    <%= form.select :importance, [["☆", 1],["☆☆", 2], ["☆☆☆", 3], ["☆☆☆☆", 4], ["☆☆☆☆☆", 5]] %>
  </div>

  <div class="field">
    <%= form.label :メモ %>
    <%= form.text_area :note, id: :task_note %>
  </div>

  <div class="field">
    <%= form.label :進捗 %>
    <%= form.select :status, [["TODO", 1],["DOING", 2], ["DONE", 3]] %>
  </div>

  <div class="field">
    <%= form.label :始めた時刻 %>
    <%= form.datetime_select :start_time, id: :task_start_time %>
  </div>

  <div class="field">
    <%= form.label :終わった時刻 %>
    <%= form.datetime_select :finish_time, id: :task_finish_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
