<% content_for :manifest do %>
	<link rel="manifest" href="manifest.json"/>
	<%= javascript_include_tag '/sw/serviceworker.js' %>
<% end %>
<% content_for :title do %>
	ホーム
<% end %>
<% content_for :search do %>
	<%= search_form_for @q do |f| %>
		<div class="search_form">
			<%= f.search_field :name_cont %>
			<i class="fas fa-search"></i>
		</div>
	<% end %>
<% end %>

<div class="container">
	<p id="notice"><%= notice %></p>

<!-- 	<% if params[:q] %>
		<% if @tasks.nil? %>
			<p>なかったよ</p>
		<% else %>
			<p>あったよ</p>
		<% end %>
	<% end %> -->
	<div class="boards">
		<section class="board">
			<% tasks_todo = @tasks.where(status: 1) %>
			<h2>TODO<span><%= tasks_todo.count %></span></h2>
			<% if tasks_todo.all.count == 0 %>
			<p class="no_content">There is no content yet.</p>
			<% end %>
			<ul>
				<% 
				tasks_todo.all.each do |task|
					current_group = Group.where(id: task.group_id)[0]
					ancestors = get_ancestor_groups(current_group)
				%>
				<li class="card">
					<%= link_to(task) do %>
					<div class="card_header">
						<h3>
							<%= task.name %>
							<span class="stars">
								<%= "★" * task.importance %>
							</span>
						</h3>
					</div>
					<% end %>
					<div class="card_body">
						<% if !task.note.empty? %>
							<p><%= task.note %></p>
						<% end %>
						<div class="tags">
							<% ancestors.each do |group| %>
								<span class="tag">
									<%= link_to group.name, group %>
								</span>
							<% end %>
						</div>
						<%= button_to 'start', { :action => "status_change", :id => task.id }, { :class => 'start' } %>
					</div>
					<div class="card_footer">

					</div>
				</li>
				<% end %>
			</ul>
		</section>
		<section class="board">
			<% tasks_doing = @tasks.where(status: 2) %>
			<h2>DOING<span><%= tasks_doing.count %></span></h2>
			<% if tasks_doing.all.count == 0 %>
			<p class="no_content">There is no content yet.</p>
			<% end %>
			<ul>
				<% 
				tasks_doing.all.each do |task|
					current_group = Group.where(id: task.group_id)[0]
					ancestors = get_ancestor_groups(current_group)
				%>
				<li class="card">
					<%= link_to(task) do %>
					<div class="card_header">
						<h3>
							<%= task.name %>
							<span class="stars">
								<%= "★" * task.importance %>
							</span>
						</h3>
					</div>
					<% end %>
					<div class="card_body">
						<% if !task.note.empty? %>
							<p><%= task.note %></p>
						<% end %>
						<div class="tags">
							<% ancestors.each do |group| %>
								<span class="tag">
									<%= link_to group.name, group %>
								</span>
							<% end %>
						</div>
						<%= button_to 'finish', { :action => "status_change", :id => task.id }, { :class => 'finish' } %>
					</div>
					<div class="card_footer">

					</div>
				</li>
				<% end %>
			</ul>
		</section>
	</div>
</div>
<%= link_to(new_task_path) do %>
<div class="icon_circle">
<div class="circle_inner">
	<i class="fas fa-plus"></i>
</div>
</div>
<% end %>