<% content_for :manifest do %>
	<link rel="manifest" href="manifest.json"/>
	<%= javascript_include_tag '/sw/serviceworker.js' %>
	<%= javascript_include_tag 'timer.js' %>
<% end %>
<% content_for :title do %>
	ホーム
<% end %>
<% content_for :search do %>
	<%= search_form_for @q do |f| %>
		<div class="search_form">
			<%= f.search_field :name_cont %>
			<i class="fas fa-search"></i>
		</div>
	<% end %>
<% end %>


<div class="container">
	<h1>ホーム</h1>
	<p id="notice"><%= notice %></p>

<!-- 	<% if params[:q] %>
		<% if @tasks.nil? %>
			<p>なかったよ</p>
		<% else %>
			<p>あったよ</p>
		<% end %>
	<% end %> -->
	<div class="boards">
		<%= render 'application/task_board', status: 1, tasks: @tasks %>
		<%= render 'application/task_board', status: 2, tasks: @tasks %>
	</div>
</div>
<%= render 'application/task_create_button' %>
