<p id="notice"><%= notice %></p>
 <% if @group.user_id == current_user.id %>
  <p>
    <strong>グループ名:</strong>
    <%= @group.name %>
  </p>

<%
=begin
%>
  <p>
    <strong>Parent:</strong>
    <%= @group.parent_id %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @group.user_id %>
  </p>
<%
=end
%>

  <p>
    <strong>重要度:</strong>
    <% if @group.importance != nil %>
      <span class="stars"><%= "★" * @group.importance %></span>
    <% else %>
      未登録です。
    <% end %>

  </p>

  <p>
    <strong>締め切り:</strong>
    <% if @group.deadline != nil %>
      <%= @group.deadline %>
    <% else %>
      未登録です。
    <% end %>
  </p>

  <p>
    <strong>登録されているタスク:</strong>
    <% tasks = Task.where(group_id: @group.id)%>
    <% if tasks.size == 0 %>
      なし
    <% else %>
      <% tasks.each do |line| %>
        <%= link_to line.name, task_path(line) %>
        <br>
      <% end %>
    <% end %>
  </p>
  <%= link_to 'このグループを編集する', edit_group_path(@group) %> |
  <%= link_to 'グループ一覧に戻る', groups_path %>

<% else %>
  <div class="attention">
    <i class="fas fa-exclamation-circle"></i>
    <p>グループへのアクセス権がありません。</p>
    <%= link_to 'タスク一覧へ戻る', tasks_path %>
  </div>
<% end %>