<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<%
=begin
%>
<p>
  <strong>Parent:</strong>
  <%= @group.parent_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @group.user_id %>
</p>

<%
=end
%>


<p>
  <strong>重要度:</strong>
  <%= @group.importance %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @group.deadline %>
</p>

<p>
  <strong>タスク:</strong>
  <br>
  <% Task.where(group_id: @group.id).each do |line| %>
    <%= link_to line.name, task_path(line) %>
    <br>
  <% end %>
  
</p>

<%= link_to 'このグループを編集する', edit_group_path(@group) %> |
<%= link_to 'グループ一覧に戻る', groups_path %>
