<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Image(original):</strong>
  <%= image_tag @user.image.to_s %>
</p>

<p>
  <strong>Image(thumb):</strong>
  <%= image_tag @user.image.thumb.to_s %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
