<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><% if yield(:title).present? %><%= yield :title %> - <% end %>TaskDriver</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet">
    <%= yield :manifest %>
  </head>

  <body>
    <header>
      <div class="header_logo">
        <%= link_to 'TaskDriver', root_path, { :class => 'home_link' } %>
      </div>
      <%= yield :search %>
      <nav>
        <% if user_signed_in? %>
          <!-- <strong><%= link_to current_user.id, "" %></strong> -->
          <%= link_to 'タスク一覧', tasks_path %>
          <%= link_to '活動サマリ', tasks_done_path %>
          <%= link_to 'グループ', groups_path %>
          <%= link_to 'プロフィール', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          
        <% else %>
          <%#= link_to 'サインアップ', new_user_registration_path %>
          <%#= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <article>
      <%
=begin
%>
    <p class="notice"><%= notice %></p>
<%
=end
%>
<div class="sidebar_button"><div class="button_inner"><i class="fas fa-bars"></i></div></div>
<section class="side_bar">
  <h2>ボード</h2>
  <ul>
    <li><%= link_to root_path do %><i class="fas fa-home fa-sm"></i>ホーム<% end %></li>
    <% 
    groups = Group.all
    groups.each do |group|
    %>
      <li>
        <%= link_to(group) do %>
        <% if group.visible == 0 %>
        <i class="fas fa-lock fa-sm"></i>
        <% else %>
        <i class="fas fa-lock-open fa-sm"></i>
        <% end %>
        <%= group.name %>
        <% end %>
      </li>
  <% end %>
</section>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </article>
    <footer>
      
    </footer>
  </body>
  <script>
    var button = document.querySelector('.sidebar_button');
    function closeSideBar() {
      let body = document.querySelector('body');
      body.classList.remove('open');
    }
    function openSideBar() {
      let body = document.querySelector('body');
      let container = document.querySelector('.container');
      body.classList.add('open');
      container.addEventListener('click', closeSideBar, false);
      console.log('clicked');
    }
    button.addEventListener('click', openSideBar, false);
  </script>
</html>
